.jhome {
    background-image: url("../images/jumbotron-slim.png");
    background-size: cover;
    background-position: center;
}

.round-img {
    border-radius: 50%;
}

.likes {
    text-align: center;
}

.fhome {
    text-align: center;
}

.fhome hr {
    width: 75%;
}